* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	min-height: 100vh;
	background-color: #eee;
}

.loading {
	text-align: center;
	font-size: 1.6rem;
	line-height: 80vh;
	font-weight: bold;
}

@media (max-width: 1000px) {
	body {
		width: 100%;
	}
}
