.articles {
	.sort-field {
		display: flex;
		justify-content: center;
		font-size: 1.1rem;
		margin: 20px auto;

		#sort {
			margin: 0 5px;
			background-color: #fff;
			padding: 2px;
			font-size: 1rem;
			border-radius: 5px;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			border: none;
			margin-left: 5px;
			font-size: 1.5rem;

			&:hover {
				cursor: pointer;
			}

			.arrow-icon {
				// margin: 0;
			}
		}
	}
}
