.commentsList-container {
	h3.comment-header {
		font-size: 1.5rem;
		margin: 10px 0;
	}

	li {
		list-style: none;
		width: 100%;
		margin: 20px 0;
		padding: 15px 0;
		border-bottom: 1px solid #000;

		p.comment-body {
			font-weight: normal;
			margin-bottom: 10px;
		}

		p.comment-author {
			font-weight: bold;
		}
		p.votes {
			margin-top: 40px;
		}
	}
}
