.commentsList-container {
	h3.comment-header {
		font-size: 1.5rem;
		margin: 10px 0;
	}

	li {
		list-style: none;
		width: 100%;
		margin: 20px 0;
		padding: 15px 0;
		border-bottom: 1px solid #000;

		div.comment-info {
			display: flex;
			margin-bottom: 10px;

			p.comment-author {
				font-weight: bold;
				margin-right: 20px;
			}

			p.comment-date {
			}

			@media screen and (max-width: 460px) {
				flex-direction: column;
			}
		}
		p.comment-body {
			font-weight: normal;
			margin-bottom: 10px;
		}

		p.votes {
			margin-top: 40px;
		}
	}
}
