.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10px;
	background-color: #000;
	color: #fff;

	a {
		font-size: 1.5rem;
		text-decoration: none;
		color: #fff;
	}

	.user {
		font-size: 1.2rem;

		span {
			margin-right: 5px;

			@media screen and (max-width: 480px) {
				display: none;
			}
		}
	}
}
