.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #fff;
}

.header-container a.home {
	font-size: 1.5rem;
	text-decoration: none;
	color: #000;
}

.header-container h1 {
	font-size: 3rem;
}

.header-container .user span {
	font-size: 1.2rem;
	margin-right: 5px;
}

@media (max-width: 480px) {
	span {
		display: none;
	}
}
