.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #fff;
	border-bottom: 1px solid #eee;

	h1 {
		font-size: 3rem;

		@media screen and (max-width: 480px) {
			font-size: 1.5rem;
		}
	}

	a {
		font-size: 1.5rem;
		text-decoration: none;
		color: #000;
	}

	.user {
		font-size: 1.2rem;

		span {
			margin-right: 5px;

			@media screen and (max-width: 480px) {
				display: none;
			}
		}
	}
}
