.navbar {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;

	.categories {
		list-style: none;
		display: flex;

		li {
			margin-right: 20px;
		}
	}

	p.user-info {
		span {
			font-weight: bold;
		}

		@media screen and (max-width: 500px) {
			margin-top: 5px;
		}
	}

	@media screen and (max-width: 500px) {
		font-size: 0.8rem;
		flex-direction: column;
		align-items: center;
	}
}
