.nav {
	list-style: none;
	display: flex;
	background-color: #000;
	color: #fff;
	padding: 10px;
}

.nav li {
	margin-right: 20px;
}

@media (max-width: 480px) {
	.nav {
		justify-content: center;
	}
}
