.nav {
	list-style: none;
	display: flex;
	padding: 20px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;

	li {
		margin-right: 20px;

		@media screen and (max-width: 480px) {
			font-size: 0.8rem;
		}
	}

	@media screen and (max-width: 480px) {
		justify-content: center;
	}
}
