.single-article-container {
	background-color: #fff;
	padding: 40px;
}

.single-article {
	width: 70%;
	margin: 0 auto;
}

.single-article p:nth-of-type(1) {
	font-weight: bold;
	margin-bottom: 10px;
}
.single-article p:nth-of-type(3) {
	font-size: 0.8rem;
	margin-top: 5px;
}

.single-article h3 {
	font-size: 2.5rem;
	margin-bottom: 10px;
}

.single-article .img-container {
	width: 100%;
	height: 500px;
}

.single-article .article-body {
	margin-top: 20px;
	font-size: 1.5rem;
}

.single-article .votes-container {
	margin: 20px 0;
	display: flex;
}

.single-article .votes-container p {
	font-size: 1.2rem;
	margin-right: 5px;
}

.single-article .comments-container p {
	font-size: 1.2rem;
}
.single-article .comments-container p span {
	margin-right: 10px;
}

@media (max-width: 980px) {
	.single-article {
		width: 90%;
		margin: 0 auto;
	}
}
@media (max-width: 780px) {
	.single-article .img-container {
		height: 400px;
	}
}

@media (max-width: 480px) {
	.single-article h3 {
		font-size: 2rem;
	}
	.single-article .img-container {
		height: 300px;
	}

	.single-article .article-body {
		font-size: 1.2rem;
	}

	.single-article .votes-container p {
		font-size: 1rem;
	}

	.single-article .comments-container p {
		font-size: 1rem;
	}
}
