.single-article-container {
	background-color: #fff;
	padding: 40px;

	.single-article {
		width: 70%;
		margin: 0 auto;

		p.topic {
			font-weight: bold;
			margin-bottom: 10px;
		}

		p:nth-of-type(3) {
			font-size: 0.8rem;
			margin-top: 5px;
		}

		h3.article-header {
			font-size: 2.5rem;
			margin-bottom: 10px;
		}

		.img-container {
			width: 100%;
			height: 500px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.article-body {
			margin-top: 20px;
			font-size: 1.5rem;
		}

		.votes-container {
			margin: 20px 0;
			display: flex;

			p {
				align-self: center;
				font-size: 1.2rem;
				margin-right: 10px;
			}

			button.vote-up,
			button.vote-down {
				font-size: 1.2rem;
				width: 45px;
				margin: 5px;
				padding: 2px;
				background-color: #fff;
				&:hover {
					cursor: pointer;
				}
			}
		}

		.comments-container {
			p {
				font-size: 1.2rem;

				span {
					margin-right: 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 980px) {
	.single-article {
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 780px) {
	.single-article {
		.img-container {
			height: 400px;
		}
	}
}

@media screen and (max-width: 480px) {
	.single-article {
		h3 {
			font-size: 2rem;
		}

		img-container {
			height: 300px;
		}

		.article-body {
			font-size: 1.2rem;
		}

		.votes-container {
			p {
				font-size: 1rem;
			}
		}

		.comments-container {
			p {
				font-size: 1rem;
			}
		}
	}
}
